* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.login{
  width: 100%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
}

.login-box {
  background-color: #000000;
  padding: 40px 40px 20px 40px;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0.454) solid;
}

.logo{
  height: 50px;
  width: 100%;  
  background-repeat: no-repeat;
  background-image: url('https://static.cdninstagram.com/rsrc.php/v4/yr/r/xcgR1yOLL2N.png');
  background-position: 50px -390px;
  background-size: auto;
}

.phone:nth-child(1){
  position: relative;
}

.phone__lenta{
  position: absolute;
  top: 4%;
  left: 33%;
  max-width: 223px;
}

.login-box h1 {
  font-family: 'Billabong', sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.phone{
  max-height: 560px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 100%;
  padding: 15px 10px 5px 10px;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  background-color: transparent;
  font-size: 12px;
  position: relative;
  color: white;
  z-index: 5;
}

.input__login,
.input__password
{
  display: inline-block;
  position: relative;
  color: white;
  z-index: 5;
  background-color: rgb(18, 18, 18);
  margin: 10px 0;
}
.input__login div,
.input__password div{
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 12px;
  color: rgb(112, 112, 112);
  z-index: 4;
  transition: .2s ease;
}

.input__login input:focus ~ div,
.input__password input:focus ~ div,
.input__login input:not(:placeholder-shown) ~ div,
.input__password input:not(:placeholder-shown) ~ div
{
  font-size: 10px;
  top: 15%;
}

.login-box__subtitle{
  color: white;
  text-align: center;
  margin: 15px 0px;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0095f6;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.facebook__login,
.facebook__login button{
  color: #0095f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 5px;
  margin: 0;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #8e8e8e;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
  margin: 0 10px;
}

.facebook-login {
  background-color: transparent;
  color: #385185;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.forgot-password {
  margin-top: 10px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}

.signup {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  border: 1px rgba(255, 255, 255, 0.454) solid;
  text-align: center;
  padding: 25px 0;
}

.signup a {
  color: #0095f6;
  text-decoration: none;
}

.app-links {
  display: flex;
  justify-content: center;
}

.app-links img {
  max-width: 110px;
}
